<app-navigation></app-navigation>
<div class="pollutant-table-container">
  <h2>Current Pollutants</h2>
  <table>
    <thead>
      <tr>
        <th>Pollutant Type</th>
        <th>PM2.5</th>
        <th>PM10</th>
        <th>NO2</th>
        <th>O3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pollutant Value</td>
        <td>{{ pollutantValues.pm25 }}</td>
        <td>{{ pollutantValues.pm10 }}</td>
        <td>{{ pollutantValues.no2 }}</td>
        <td>{{ pollutantValues.o3 }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="warnings-container">
  <h2>My Warnings</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warning of warnings.slice().reverse()">
        <td>{{ warning.id }}</td>
        <td>{{ warning.content }}</td>
        <td>{{ warning.timestamp }}</td>
      </tr>
    </tbody>
  </table>
</div>
