<div class="auth-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>First Name</label>
    <input type="text" formControlName="firstName" />

    <label>Last Name</label>
    <input type="text" formControlName="lastName" />

    <label>Email</label>
    <input type="email" formControlName="email" />

    <label>Password</label>
    <input type="password" formControlName="password" />

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" />

    <label>User type</label>
    <select formControlName="userType">
      <option value="">Choose type</option>
      <option value="citizen">Citizen</option>
      <option value="risk_group">Risk group</option>
      <option value="institution">Institution</option>
    </select>

    <div *ngIf="registerForm.get('userType')?.value === 'risk_group'">
      <label>Type of risk group</label>
      <select formControlName="riskType">
        <option value="">Choose group</option>
        <option value="child">Child</option>
        <option value="elderly">Elderly</option>
        <option value="chronical">Chronical</option>
        <option value="pregnant">Pregnant</option>
      </select>
    </div>

    <div *ngIf="registerForm.get('userType')?.value === 'institution'">
      <label>Institution name</label>
      <input type="text" formControlName="institutionName" />

      <label>Institution type</label>
      <select formControlName="institutionType">
        <option value="">Choose type</option>
        <option value="healthcare">HEALTHCARE</option>
        <option value="education">EDUCATION</option>
        <option value="sports">SPORTS</option>
        <option value="geriatric">GERIATRIC</option>
        <option value="business">BUSINESS</option>
        <option value="goverment">GOVERMENT</option>
        <option value="other">OTHER</option>
      </select>

      <label>Address</label>
      <input type="text" formControlName="institutionAddress" />
    </div>

    <label>City</label>
    <input type="text" formControlName="location" />

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <p class="auth-link">
    Već imate nalog? 
    <a routerLink="/login">Prijavite se</a>
  </p>
</div>
